{% extends "base.html" %}
{% block title %}Custom 404{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center mb-4">Custom 404</h1>
            <p>Если вы здесь, то возможно вы заблудились, но не расстраивайтесь - мы всегда готовы помочь вам найти то, что вы ищете.</p>
            <p>Мы приносим свои извинения за неудобства, которые могут быть вызваны ошибкой 404, но не отчаивайтесь - возможно, это просто небольшая задержка на пути к вашей цели.</p>
            <p>Предлагаем вам перейти на нашу <a href="{% url 'posts:home' %}">главную страницу</a> и начать поиск заново - кто знает, возможно, вы найдете что-то новое и интересное. Или же вы можете связаться с нами, и мы постараемся помочь вам в решении вашей проблемы.</p>
            <p>Вместо того, чтобы смотреть на эту страницу как на преграду, давайте рассмотрим ее как на возможность открыть что-то новое - новую страницу, новый путь, новый опыт.</p>
            <p>Спасибо, что выбрали наш сайт, и мы надеемся, что вы продолжите исследовать его с огромным удовольствием!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
