{% extends 'base.html' %} {% load static %} 
{% block title %}Об авторе{% endblock %}
{% block content %}

<div class="container">
  <h1>Несколько слов об авторе</h1>
  <div class="row">
    <div class="col-md-4">
      <img
        src="{% static 'img/author-photo.jpg' %}"
        width="250"
        height="350"
        class="img-thumbnail"
      />
    </div>
    <div class="col-md-8">
      <p>
        Приветствую вас! Меня зовут Антон, и я автор этого блога. Мне 27 лет, и
        до недавнего времени я работал менеджером по закупкам в Inventive Retail
        Group. Это группа компаний, которая занимается управлением розничных и
        онлайн-магазинов, а также корпоративными продажами и дистрибуцией
        потребительских товаров лучших мировых брендов, таких как Apple, Lego,
        Samsung, Xiaomi, Nike и другие.
      </p>
      <p>
        Кроме работы, я увлекаюсь музыкой и играю на гитаре. Буду рад поделиться
        своим опытом и интересными мыслями с вами на этом блоге!
      </p>
      <p>
        К счастью, я сейчас учусь на курсе "Backend-разработчик" в
        Яндекс.Практикуме и влюбился в эту область развития. Я уверен, что в
        ближайшем будущем найду работу, где смогу использовать свои новые знания
        и навыки.
      </p>
      <p>
        Благодарю за посещение моей страницы. Я надеюсь, что вам было интересно
        узнать немного обо мне.
      </p>
    </div>
  </div>
</div>

{% endblock %}
